.scrollbar-none {
    /* Untuk Firefox */
    scrollbar-width: none;
    /* Untuk IE and Edge (legacy) */
    -ms-overflow-style: none;
}

/* Untuk Chrome, Safari, dan browser berbasis WebKit */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}
